@import "mocha.css";

* {
  font-family: "CodeNewRoman Nerd Font";
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}




#custom-settings-menu,
#bluetooth,
#network,
#custom-logo,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#custom-logo {
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  color: @sky;
  margin-right: 0.25rem;
}

#clock {
  color: @maroon;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-settings-menu,
#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#network,
#custom-power {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#network {
  padding-right: 1.5rem;
  margin-right: 0rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#bluetooth {
  color: @blue;
}

#workspaces+#custom-settings-menu {
  margin-top: 0;
  background-color: @surface0;
}
